#Twilio API parameters

SID    = ""
TOKEN  = ""
SERVICEID = ""

#Unifi parameters

CONTROLLER_USER     = ""
CONTROLLER_PASSWORD = ""
CONTROLLER_URL      = ""
CONTROLLER_VERSION  = ""
DURATION = ""

#DB parameters

HOST_IP = ""
DB_USER = ""
DB_PASS = ""
DB_NAME = ""
