<?php

#MySQL DB table name for this site
$table_name = "";

#Facebook Callback URL
$callBackUrl = "";

#Unifi Site ID for this site
$site_id = "";

#Friendly name
$business_name = "";

#Current year
$current_year = "";

?>