
    *{ border: 1px solid red; }
  
  .module {
    height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    margin: 0 auto;
    max-width: 100%;
  }

  .head {
    align-items: center;
    display: flex;
    height: 20%;
    justify-content: center;
  }

  .main {
    align-items: center;
    display: flex;
    height: 60%;
    justify-content: center;
  }

  .foot {
    align-items: center;
    display: flex;
    height: 20%;
    justify-content: center;
  }