/*
    *{ border: 1px solid red; }
*/

.page
{
  height: 100vh;
  margin: 0 auto;
  max-width: 100%;
  color: black;
  font-family: "Ariel", sans-serif;
}

.head
{
  display: flex;
  height: 20%;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.main
{
  display: flex;
  height: 60%;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.foot
{
  display: flex;
  height: 20%;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

#logo
{
  width: 30%;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
}

#gap
{
  margin-top: 5px;
}

#login
{
  margin-bottom: 5px;
}

#margin_zero
{
  margin: 0;
}

#codeError
{
  display: none;
  margin-bottom: 10px;
}

#social
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

#logintext
{
  margin-top: 5px;
  margin-bottom: 5px;
}

.smGlobalBtn
{
 /* global button class */
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 50px;
  box-shadow: 0 2px 2px #999;
  padding: 0px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 25px;
  font-weight: normal;
  line-height: 2em;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
}
  
/* facebook button class*/
.facebookBtn
{
  background: #4060A5;
}

.facebookBtn:before
{
 /* use :before to add the relevant icons */
  font-family: "FontAwesome";
  content: "\f09a";
 /* add facebook icon */
  ;
}

.facebookBtn:hover
{
  color: #4060A5;
  background: #fff;
}

a
{
  color: black;
  text-decoration: underline;
}

a:hover
{
  color: black;
}

/* Media Query for Desktops */

@media only screen and (min-width: 768px)
{
  html
  {
    overflow: hidden;
  }

  #logo
  {
    max-width: 10%;
  }

  #login
  {
    margin-top: 20px;
  }

  #logintext
  {
    margin-top: 15px;
    margin-bottom: 15px;
  }

}

/* Media Query for iPads */

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
{
  #logo
  {
    max-width: 20%;
  }

  #logintext
  {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
