/*
    *{ border: 1px solid red; }
*/

.page
{
  height: 100vh;
  margin: 0 auto;
  max-width: 100%;
  color: black;
  font-family: "Ariel", sans-serif;
}

.head
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.main
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

#logo
{
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#login
{
  margin-bottom: 5px;
}

#margin_zero
{
  margin: 0;
}

#codeError
{
  display: none;
  margin-bottom: 10px;
}

/* Media Query for iPads */

@media only screen 
and (min-width: 600px)
{
  #logo
  {
    max-width: 10%;
  }
}

/* Media Query for Desktops */

@media only screen   
and (min-width: 768px)
{
  html
  {
  }

  #logo
  {
    max-width: 10%;
  }

  .main
  {
    height: 80%;
  }

  #login
  {
    margin-top: 20px;
  }

}