$tabs-link-color: hsl(0, 0%, 0%);
$tabs-toggle-link-active-background-color: hsl(0, 0%, 21%);
$tabs-toggle-link-active-border-color: hsl(0, 0%, 21%);
$tabs-toggle-link-border-color: hsl(0, 0%, 21%);

@import '../../vendor/bulma/bulma.sass';